* {
  transition: all 0.3s;
  transition: outline 0s;
}

.bg-custom {
  width: 90%;
  height: 90%;
  background: url(../../assets/images/background/Best-Auto-Body-Shops-in-Calgary.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  border-radius: 10px;
  box-shadow: 1px 1px 1px lightgrey;
  padding: 0;
}

.pj-block {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  width: 100%;
  height: auto;
  background-color: rgba(211, 211, 211, 0.911);
  border-radius: 10px;
  border: 1px solid lightgrey;
  padding: 15px 25px;
  form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
  }
  &__left,
  &__right {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: flex-start;
    width: 48%;
    height: calc(100% - 90px);
    .description {
      margin-top: auto;
    }
  }
  &__btns {
    display: flex;
    justify-content: end;
    width: 100%;
    height: auto;
  }
}

.calendar {
  width: 60px;
  background-image: url(../../assets/images/calendar-alt.svg);
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: center;
  border: 1px solid rgba(128, 128, 128, 0.527);
  &:hover {
    animation-name: border-run;
    animation-duration: 1.5s;
    background-color: transparent;
    background-size: 46%;
  }
  &:active {
    border: 1px solid transparent;
    background-size: 41%;
  }
}

// .ng-valid {
//   outline: 2px solid lightgreen;
// }
// .ng-dirty .ng-touched .ng-invalid:not(form) {
//   outline: 2px solid rgba(255, 0, 0, 0.5);
// }

.red-border {
  outline: 2px solid red;
}

.ng-invalid .ng-touched:not(#needToTruck, #needCarPickup, #customParts) {
  outline: 2px solid red;
}
.ng-dirty .ng-valid:not(#needToTruck, #needCarPickup, #customParts) {
  outline: 2px solid greenyellow;
}
.green-border {
  outline: 2px solid greenyellow;
}
